$primary: #7c1df7;
$orange: #fec961;
$lightGreen: #00eaaf;
$secondary: #181b31;
$white: #fff;

$theme-colors: (
  "primary": $primary,
  "orange": $orange,
  "lightGreen": $lightGreen,
  "secondary": $secondary,
  "white": $white,
);
$spacers: (
  0: 0,
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px,
  35: 35px,
  40: 40px,
  45: 45px,
  50: 50px,
  55: 55px,
  60: 60px,
  65: 65px,
  70: 70px,
  80: 80px,
  90: 90px,
  95: 95px,
  100: 100px,
  150: 150px,
);
$anotherFont: "EB Garamond", sans-serif;

@import "../../lib/bootstrap/scss/bootstrap.scss";
body {
  font-family: "Poppins", sans-serif;
}
// .warp {
//   overflow: hidden;
// }
.container-fluid {
  padding-right: 50px !important;
  padding-left: 50px !important;
  @include media-breakpoint-down(md) {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}
a {
  text-decoration: none;
  @include transition(0.3s all ease-in-out);
}
@mixin lineNum($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}
.border-wave {
  h2 {
    font-size: 50px;
    font-family: $anotherFont;
    position: relative;
    display: inline-block;
    border-bottom: 1px wavy #222;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translate(-50%, 0);
      width: 80%;
      height: 10px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' overflow='visible' height='10px' width='20px' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpath d='M0,6c6,0,0.9,11.1,6.9,11.1S18,6,24,6'/%3E%3C/svg%3E")
        repeat-x center center;
    }
  }
}
.link-more {
  @include transition(all 0.3s ease-in-out);
  display: inline-block;
  a {
    color: $secondary;
    padding: 5px 0 12px 0;
    font-size: 16px;
    letter-spacing: 4px;
    border-bottom: 1px solid $secondary;
    font-family: $anotherFont;
    display: inline-block;
    @include transition(all 0.3s ease-in-out);
  }
  &:hover {
    transform: scale(0.9);
    a {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
}
.cus__btn {
  min-width: 200px;
  background-color: $primary;
  color: $white;
  letter-spacing: 5px;
  font-family: $anotherFont;
  padding: 15px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  @include transition(all 0.2s ease-in-out);
  &:hover {
    background-color: #fff1ce;
    transform: scale(0.9);
    color: #000000;
    font-size: 16px;
  }
}
.slick-slider {
  margin-bottom: 0 !important;
  & > * {
    [data-animation-in] {
      opacity: 0;
      @include transition(0.3s all ease-in-out);
    }
  }
  .slick-dots {
    bottom: -70px;
    @include media-breakpoint-down(sm) {
      bottom: -45px;
    }
    li {
      padding: 0;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      background: rgb(208, 208, 208);
      @include transition(0.3s all ease-in-out);
      @include media-breakpoint-down(lg) {
        width: 12px;
        height: 12px;
      }
      @include media-breakpoint-down(sm) {
        width: 12px;
        height: 12px;
      }
      button {
        padding: 0;
        margin: 0;
        &::before {
          display: none;
        }
      }
      &:hover:not(.slick-active) {
        background: $primary;
      }
      &.slick-active {
        background: $primary;
        @include media-breakpoint-down(sm) {
        }
      }
    }
  }
}
//////// start menu
.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  transition: 0.2s all ease-in-out;
  .navbar {
    padding: 0;
    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    .navbar-brand {
      width: 80px;
      @include media-breakpoint-down(md) {
        width: 60px;
      }
      img {
        width: 100%;
      }
    }
    .navbar-collapse {
      justify-content: center;
      @include media-breakpoint-down(xl) {
        position: fixed;
        top: 0;
        left: -120%;
        width: 330px;
        min-height: 120vh;
        background: #fff;
        box-shadow: -5px 0 15px rgba($secondary, 0.3);
        padding: 100px 20px;
        z-index: 5;
        @include transition(0.2s all ease-in-out);
        &.show {
          left: 0;
        }
      }
    }
    .mobile-logo {
      width: 60px;
      height: 65px;
      position: absolute;
      top: 12px;
      left: 15px;
    }
    .navbar-nav {
      .nav-item {
        font-size: 20px;
        color: #000000;
        &:not(:last-child) {
          margin-right: 40px;
          @include media-breakpoint-down(xl) {
            margin-bottom: 40px;
            margin-right: 0;
          }
        }
        .nav-link {
          color: #000000;
          position: relative;
          display: inline-block;
          padding: 0;
          @include transition(0.3s all ease-in-out);
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0;
            height: 2px;
            background: $primary;
            @include transition(0.3s all ease-in-out);
            @include media-breakpoint-down(xl) {
              display: none;
            }
          }
          &.active {
            color: $primary;
            &::before {
              width: 100%;
            }
          }
          &:hover {
            color: $primary;
          }
        }
        &:hover,
        &.active {
          .nav-link {
            &::before {
              width: 100%;
            }
            @include media-breakpoint-down(xl) {
              // background: #222;
              border-color: $primary;
              color: #000000;
            }
          }
        }
      }
    }
    .nav-icon {
      width: 30px;
      height: 24px;
      margin: 0;
      position: relative;
      cursor: pointer;
      display: none;
      border: none;
      @include media-breakpoint-down(xl) {
        display: inline-block;
      }
      span {
        background-color: $secondary;
        position: absolute;
        border-radius: 2px;
        transition: 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5);
        width: 100%;
        height: 2px;
        transition-duration: 200ms;
        &:nth-child(1) {
          top: 0px;
          left: 0px;
        }
        &:nth-child(2) {
          top: 10px;
          left: 0px;
          opacity: 1;
        }
        &:nth-child(3) {
          bottom: 0px;
          left: 0px;
        }
      }
      &:not([aria-expanded="true"]) {
        span {
          &:nth-child(1) {
            transform: rotate(0deg) scaleY(1.1);
          }
          &:nth-child(2) {
            transform: rotate(0deg) scaleY(1.1);
          }
          &:nth-child(3) {
            transform: rotate(0deg) scaleY(1.1);
          }
        }
      }
      &[aria-expanded="true"] {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: 10px;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            top: 10px;
          }
        }
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
.nav-active {
  background: $white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  @include transition(0.2s all ease-in-out);
  padding: 5px 0;
}

.banner {
  padding: 180px 0 100px 0;
  border-bottom: 1px dashed rgb(189, 189, 189);
  @include media-breakpoint-down(xl) {
    padding: 100px 0 70px 0;
  }
  @include media-breakpoint-down(lg) {
    padding: 70px 0 50px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 80px 0 30px 0;
  }
  .left-side {
    background-image: url(../../images/men.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 350px;
    background-color: #eee;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    position: relative;
    @include media-breakpoint-down(xl) {
      min-height: 486px;
      width: 266px;
    }
    @include media-breakpoint-down(lg) {
      min-height: 405px;
      width: 250px;
      margin: auto;
    }
    @include media-breakpoint-down(md) {
      min-height: 405px;
      width: 220px;
      margin: auto;
    }
    .circle {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $lightGreen;
      @include media-breakpoint-down(lg) {
        width: 60px;
        height: 60px;
      }
    }
  }
  .right-side {
    background-image: url(../../images/girl.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 350px;
    background-color: #eee;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    position: relative;
    margin-top: 100px;
    right: 22px;
    z-index: -1;
    @include media-breakpoint-down(xl) {
      min-height: 486px;
      width: 266px;
    }
    @include media-breakpoint-down(lg) {
      min-height: 405px;
      width: 250px;
      margin: auto;
    }
    @include media-breakpoint-down(md) {
      min-height: 405px;
      width: 220px;
      margin: auto;
    }
    .circle-1 {
      position: absolute;
      bottom: -30px;
      right: 0;
      // transform: translate(-50%, 0);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: $orange;
      @include media-breakpoint-down(md) {
        width: 60px;
        height: 60px;
        bottom: 0;
        left: 0;
      }
    }
    .circle-2 {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translate(100%, 0);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $primary;
    }
  }
  .main-title {
    @include media-breakpoint-down(lg) {
      margin: 40px 0;
    }
    @include media-breakpoint-down(md) {
      margin: 40px 0;
    }
    h2 {
      font-size: 75px;
      transform: scale(1.6);
      margin-bottom: 80px;
      line-height: 1;
      font-weight: 100;
      width: 85%;
      margin: 100px auto 80px auto;
      font-family: $anotherFont;
      @include media-breakpoint-down(xxl) {
        font-size: 60px;
        transform: scale(1.3);
      }
      @include media-breakpoint-down(xl) {
        font-size: 45px;
        transform: scale(1.2);
        margin: 30px auto 20px auto;
      }
      @include media-breakpoint-down(lg) {
        font-size: 35px;
        transform: scale(1);
        margin: 10px auto 10px auto;
      }
    }
    p {
      color: #646778;
      margin-bottom: 50px;
      line-height: 1.8;
      @include media-breakpoint-down(xl) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }
    }
    .cus__btn {
      padding: 30px 0;
      @include media-breakpoint-down(xl) {
        padding: 20px 0;
      }
      @include media-breakpoint-down(lg) {
        padding: 10px 0;
      }
    }
  }
}
//  start our-service

.our-service {
  padding: 100px 0;
  @include media-breakpoint-down(xl) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(lg) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }
  .service {
    .border-wave {
      h2 {
        font-size: 50px;
        font-family: $anotherFont;
        position: relative;
        display: inline-block;
        border-bottom: 1px wavy #222;
        position: relative;
        @include media-breakpoint-down(lg) {
          font-size: 30px;
        }
        @include media-breakpoint-down(md) {
          font-size: 25px;
        }
        &::after {
          width: 55%;
        }
      }
    }
    .box-primary {
      margin: 20px 20px 20px 20px;
      padding: 20px 40px 20px 20px;
      background-color: #fff8e74a;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border: 1px solid #e6e6e6;
      display: flex;
      flex-direction: column;
      box-shadow: 4px 3px 15px 7px rgb(87 86 88 / 6%);
      position: relative;
      overflow: hidden;
      @include transition(all 0.3s ease-in-out);
      @include media-breakpoint-down(md) {
        padding: 15px 20px 20px 20px;
        margin: 20px 0 20px 0;
      }
      &:hover {
        background-color: #ede9db4a;
        img {
          transform: scale(0.9);
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: $primary;
        width: 100%;
        z-index: 1;
      }
      img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        @include transition(all 0.3s ease-in-out);
      }
      h2 {
        font-size: 18px;
        letter-spacing: 1.7px;
        @include lineNum(2);
        min-height: 48px;
      }
    }
    .box-light-green {
      margin: 20px 20px 20px 20px;
      padding: 20px 40px 20px 20px;
      background-color: #fff8e74a;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border: 1px solid #e6e6e6;
      display: flex;
      flex-direction: column;
      box-shadow: 4px 3px 15px 7px rgb(87 86 88 / 6%);
      position: relative;
      overflow: hidden;
      @include transition(all 0.3s ease-in-out);
      @include media-breakpoint-down(md) {
        padding: 15px 20px 20px 20px;
        margin: 20px 0 20px 0;
      }
      &:hover {
        background-color: #ede9db4a;
        img {
          transform: scale(0.9);
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: $lightGreen;
        width: 100%;
        z-index: 1;
      }
      img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        @include transition(all 0.3s ease-in-out);
      }
      h2 {
        font-size: 18px;
        letter-spacing: 1.7px;
        @include lineNum(2);
        min-height: 48px;
      }
    }
    .box-orange {
      margin: 20px 20px 20px 20px;
      padding: 20px 40px 20px 20px;
      background-color: #fff8e74a;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border: 1px solid #e6e6e6;
      display: flex;
      flex-direction: column;
      box-shadow: 4px 3px 15px 7px rgb(87 86 88 / 6%);
      position: relative;
      overflow: hidden;
      @include transition(all 0.3s ease-in-out);
      @include media-breakpoint-down(md) {
        padding: 15px 20px 20px 20px;
        margin: 20px 0 20px 0;
      }
      &:hover {
        background-color: #ede9db4a;
        img {
          transform: scale(0.9);
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: $orange;
        width: 100%;
        z-index: 1;
      }
      img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        @include transition(all 0.3s ease-in-out);
      }
      h2 {
        font-size: 18px;
        letter-spacing: 1.7px;
        @include lineNum(2);
        min-height: 48px;
      }
    }
  }
}
// start marketing

.marketing {
  background-color: #f3f9fa;
  padding: 150px 0;
  @include media-breakpoint-down(xl) {
    padding: 70px 0;
  }
  @include media-breakpoint-down(lg) {
    padding: 50px 0 0 0;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 0 0 0;
  }
  .our-marketing {
    .border-wave {
      h2 {
        font-size: 40px;
        letter-spacing: 5px;
        font-family: $anotherFont;
        margin-bottom: 60px;
        @include media-breakpoint-down(lg) {
          font-size: 30px;
          margin-bottom: 40px;
        }
        @include media-breakpoint-down(md) {
          font-size: 25px;
          margin-bottom: 40px;
        }
        &::after {
          left: 0;
          transform: translate(0);
          width: 50%;
        }
      }
    }
    p {
      color: #9789a1;
      margin-bottom: 50px;
      line-height: 1.8;
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }
  }
  .marketing-photo {
    position: relative;
    width: 700px;
    margin-right: 0;
    margin-left: auto;
    @include media-breakpoint-down(xl) {
      width: 500px;
    }
    @include media-breakpoint-down(lg) {
      width: 500px;
      margin: 50px auto 50px auto;
    }
    @include media-breakpoint-down(md) {
      width: 340px;
      margin: 50px auto 50px auto;
    }
    img {
      border-top-right-radius: 150px;
      border-bottom-left-radius: 150px;
      width: 100%;
    }
    .orange-circle {
      position: absolute;
      top: -30px;
      left: -30px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: $orange;
      @include media-breakpoint-down(md) {
        width: 40px;
        height: 40px;
      }
    }
    .primary-circle {
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform: translate(-50%, 0);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $primary;
    }
  }
}
// start our-brands

.our-brands {
  margin-top: 100px;
  @include media-breakpoint-down(lg) {
    margin-top: 50px;
  }
  .brand-photo {
    background-image: url(../../images/brand-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 70px;
    min-height: 600px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      min-height: 350px;
      padding: 0 20px;
    }
    @include media-breakpoint-down(md) {
      min-height: 324px;
      padding: 0 20px;
    }
    .brand-contact {
      width: 50%;
      @include media-breakpoint-down(lg) {
        width: 80%;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      h2 {
        font-size: 40px;
        font-family: $anotherFont;
        margin-bottom: 50px;
        @include media-breakpoint-down(lg) {
          font-size: 30px;
          margin-bottom: 30px;
        }
        @include media-breakpoint-down(md) {
          font-size: 25px;
        }
      }
      .cus__btn {
        padding: 25px 0;
        background-color: #000000;
        color: $white;
        @include media-breakpoint-down(lg) {
          padding: 15px 0;
        }
        @include media-breakpoint-down(md) {
          padding: 10px 0;
        }
        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}
// start our-soical
.our-soical {
  padding: 100px 0;
  @include media-breakpoint-down(lg) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 0;
  }
  .des {
    .border-wave {
      h2 {
        font-size: 40px;
        font-family: $anotherFont;
        margin-bottom: 50px;
        letter-spacing: 5px;
        @include media-breakpoint-down(lg) {
          font-size: 30px;
          margin-bottom: 40px;
        }
        @include media-breakpoint-down(md) {
          font-size: 25px;
          margin-bottom: 40px;
        }
        &::after {
          left: 0;
          transform: translate(0);
          width: 80%;
        }
      }
    }
    p {
      color: #9789a1;
      line-height: 1.8;
      @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }
  }
  .soical-media {
    margin-bottom: 100px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 50px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
    img {
      width: 50px;
      height: 50px;
      margin-right: 40px;
    }
    h2 {
      font-size: 18px;
      width: 80%;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
    .link-more {
      a {
        font-size: 12px;
      }
    }
  }
}
// start logos
.logos {
  margin-bottom: 100px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 70px;
  }
  h2 {
    font-family: $anotherFont;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
      font-size: 30px;
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(md) {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }
  .logo-slider {
    .photo-logo {
      width: 150px;
      height: 150px;
      flex: 0 0 150px;
      max-width: 150px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border: 7px solid #eee;
      overflow: hidden;
      @include transition(all 0.3s ease-in-out);
      margin: 0 20px;
      img {
        margin: 0 auto;
        padding: 20px;
        width: 100%;
        height: 100%;
      }
      &:hover {
        border: 7px solid $primary;
      }
    }
  }
}
.faq {
  padding: 150px 0;
  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }
  h2 {
    font-size: 40px;
    font-family: $anotherFont;
    letter-spacing: 5px;
  }
  .faq-accordion {
    margin-top: 50px;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
    .accordion {
      .accordion-item {
        margin-bottom: 30px;
        box-shadow: none;
        border: none;
        .accordion-header {
          .accordion-button {
            box-shadow: none;
            background-color: #f4f6ff;
            padding: 30px 30px;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            font-size: 18px;
            font-weight: 600;
            @include media-breakpoint-down(md) {
              padding: 20px 35px;
            }
            &:focus {
              box-shadow: none;
            }
          }
          .accordion-button {
            &:not(.collapsed) {
              background-color: #fff1ce;
              color: #000000;
              &::after {
                background-image: none;
                content: "\f176";
                font-family: "FontAwesome";
                font-weight: 400;
                color: #000;
                font-size: 20px;
                position: absolute;
                right: 35px;
                top: 25px;
                width: 10px;
                height: 10px;
                transform: rotate(0);
              }
            }
          }
        }
        .accordion-body {
        }
      }
    }
  }
}
.back-g-footer {
  background-color: #eee;
  .growing {
    .growing-photo {
      background-image: url(../../images/growing-back.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      min-height: 400px;
      padding: 0 100px;
      position: relative;
      top: -200px;
      margin-top: 200px;
      border-top-right-radius: 190px;
      border-bottom-left-radius: 190px;
      @include media-breakpoint-down(lg) {
        top: -50px;
        margin-top: 50px;
        padding: 0 20px;
        min-height: 250px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
      }
      @include media-breakpoint-down(md) {
        top: -50px;
        margin-top: 50px;
        padding: 0 20px;
        min-height: 250px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
      }
      .growing-read {
        width: 50%;
        @include media-breakpoint-down(lg) {
          width: 80%;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        h2 {
          font-size: 35px;
          font-family: $anotherFont;
          letter-spacing: 3px;
          margin-bottom: 30px;
          text-transform: uppercase;
          line-height: 1.3;
          @include media-breakpoint-down(lg) {
            font-size: 25px;
          }
          @include media-breakpoint-down(md) {
            font-size: 20px;
          }
        }
        .link-more {
          &:hover {
            a {
              color: $white;
              border-bottom: 1px solid $white;
            }
          }
        }
      }
    }
  }
  // start footer
  .footer {
    padding-bottom: 50px;
    .footer-soical {
      @include media-breakpoint-down(lg) {
        margin-bottom: 50px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 30px;
      }
      .footer-logo {
        width: 85px;
        margin-top: -10px;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
      p {
        font-size: 14px;
      }
      .soical-links {
        display: flex;
        a {
          background-color: #000;
          color: $white;
          width: 35px;
          height: 35px;
          flex: 0 0 35px;
          max-width: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include transition(all 0.3s ease-in-out);
          &:not(:last-child) {
            margin-right: 20px;
          }
          &:hover {
            background-color: rgb(74, 73, 73);
            color: $white;
          }
        }
      }
    }
    .main-footer {
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
      }
      .mid-footer {
        @include media-breakpoint-down(lg) {
          margin-bottom: 30px;
        }
        h2 {
          font-size: 25px;
          font-family: $anotherFont;
          margin-bottom: 30px;
        }
        ul {
          li {
            margin-bottom: 20px;
            a {
              color: #000;
              font-weight: 100;
            }
          }
        }
      }
    }
    .news-letter {
      margin-left: 50px;
      @include media-breakpoint-down(lg) {
        margin-left: 0px;
      }
      h2 {
        font-size: 25px;
        font-family: $anotherFont;
        margin-bottom: 25px;
      }
      input {
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid #eee;
        font-size: 20px;
        width: 100%;
        outline: none;
        margin-bottom: 30px;
        color: #eee;
        font-family: $anotherFont;
        @include transition(all 0.3s ease-in-out);
        &:focus {
          border-color: $lightGreen;
        }
      }
      .submit {
        button {
          text-align: center;
          background-color: #181b31;
          color: $white;
          width: 100%;
          padding: 15px 0;
          border-radius: 30px;
          text-transform: uppercase;
          font-family: $anotherFont;
          letter-spacing: 3px;
          border: none;
          box-shadow: -5px 0 15px rgba($secondary, 0.3);
          @include transition(all 0.3s ease-in-out);
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}
.copy-right {
  background-color: #181b31;
  color: $white;
  text-align: center;
  padding: 10px 0;
  @include media-breakpoint-down(md) {
    padding: 10px 5px;
  }
  p {
    font-size: 12px;
    margin-bottom: 0;
  }
}

// start influencer-page
.btn-influence {
  background-color: #000;
  color: #fff;
  border: none;
  box-shadow: none;
  padding: 7px;
  min-width: 170px;
  font-size: 16px;
  @include transition(all 0.3s ease-in-out);
  i {
    color: $white;
    margin-right: 2px;
    @include transition(all 0.3s ease-in-out);
  }
  &:hover {
    color: rgb(218, 218, 218);
    i {
      color: rgb(218, 218, 218);
    }
  }
  &:focus {
    background-color: rgb(134, 134, 134);
  }
}
.form-control {
  padding: 5px 5px 5px 10px;
  font-size: 14px;
  &:focus {
    box-shadow: none;
    border-color: #eee;
  }
  &::placeholder {
    font-size: 12px;
  }
}
.form-select {
  font-size: 14px;
}
.influencer-page {
  padding: 200px 0;
  .filters {
    margin-top: 100px;
    .buttom-groub {
      border-radius: 3px;
      display: flex;
      flex-wrap: wrap;
      .btn-influence {
        margin-bottom: 10px;
        margin-right: 10px;
        border-radius: 5px;
      }
      .dropdown {
        .dropdown-menu {
          padding: 10px 5px;
          &.show {
            min-width: 210px;
            padding-left: 10px;
            padding-right: 10px;
          }
          li {
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            span {
              font-size: 14px;
            }
          }
        }
        .dropdown-item {
          padding: 0;
          &:hover {
            background-color: transparent;
          }
        }
        .form-select {
          &:focus {
            border: 1px solid #eee;
            box-shadow: none;
          }
        }
        .alert {
          color: #842029;
          background-color: #f8d7da;
          border-color: #f5c2c7;
          padding: 10px;
          font-size: 12px;
          margin-top: 10px;
          margin-bottom: 0;
        }
        .form-label {
          font-size: 14px;
        }
        .btn-search {
        }
      }
    }
  }
  .searsh-by-name {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    .page-num {
      min-width: 100px;
    }
    .search {
      .input-group {
        .input-group-text {
          background-color: #000;
          i {
            color: $white;
          }
        }
      }
    }
  }
  .fav-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .fav-unfav {
      display: flex;
      align-items: center;
      .fav-btn {
        background-color: #efefef;
        color: #000;
        border: none;
        padding: 10px 0;
        border-radius: 5px;
        min-width: 160px;
        i {
          color: #000;
          margin-right: 3px;
        }
      }
      .big-arrow {
        margin: 0 20px;
        i {
          font-size: 30px;
        }
      }
    }
    .add-remove {
      display: flex;
      align-items: center;
      .form-check {
        margin-right: 10px;
      }
      .add-btn {
        color: #fff;
        background-color: #28a745;
        border: none;
        padding: 10px 0;
        border-radius: 5px;
        min-width: 80px;
        margin-right: 10px;
      }
      .remove-btn {
        color: #fff;
        background-color: #dc3545;
        border: none;
        padding: 10px 0;
        border-radius: 5px;
        min-width: 110px;
      }
    }
  }
  .all-items {
    margin-top: 150px;
    .card-item {
      text-align: center;
      padding: 20px;
      background-color: #eee;
      border-radius: 10px;
      position: relative;
      margin-bottom: 30px;
      .card-photo {
        margin-top: 30px;
        margin-bottom: 20px;
        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
      a {
        color: #000;
        font-size: 16px;
        @include lineNum(1);
        &:hover {
          text-decoration: underline;
        }
      }
      h2 {
        font-size: 18px;
        margin: 10px 0;
        @include lineNum(1);
      }
      p {
        font-size: 14px;
        margin-bottom: 10px;
        @include lineNum(1);
      }
      .soical-details {
        display: flex;
        justify-content: space-between;
        .des {
          h2 {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
          }
          span {
            font-size: 14px;
          }
        }
      }
      .icons {
        display: flex;
        position: absolute;
        top: 15px;
        left: 20px;
        i {
          @include transition(all 0.3s ease-in-out);
          margin-right: 10px;
          font-size: 17px;
        }
        .love {
          i {
            &:hover {
              color: red;
            }
          }
        }
        .like {
          i {
            &:hover {
              color: blue;
            }
          }
        }
        .dis-like {
          i {
            &:hover {
              color: orange;
            }
          }
        }
      }
      .form-check {
        position: absolute;
        top: 15px;
        right: 10px;
      }
    }
  }
}
